@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
font-family: 'Roboto', sans-serif;
} 

body {
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.header, .footer{
    color: #f9faf8;
    background-color: #1f2937;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 300px;
}

.header-right{
    font-size: 24px;
    font-weight: 900;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-right: 300px;
}

li{
    list-style-type: none;
    color: #e5e7ee;    
    font-size: 18px;
    font-weight: lighter;
}

a{
    color: #f9faf8;
    text-decoration: none;
}

.body{
    flex: 1;
}

.body1{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 100px 300px;
}

.body1-title{
    font-size: 48px;
    font-weight: 900;
}

.body1-content{
    font-size: 18px;
    color: #e5e7ee;
}

.body1-button{
    color: #e5e7ee;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 8px 24px;
    margin-top: 10px;
}

.body1-left{
    max-width: 450px;
}

.body1-right{
    background-color: grey;
    width: 500px;
    height: 200px;
}

.body2{
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.body2-title{
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 50px;
}

.body2-imgs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.body2-text{
    padding-top: 10px;
    padding-bottom: 50px;
}

.imgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}

.img{
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

.body3{
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 540px;
}

.body3-quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.body3-author{
    font-size: 24px;
    font-weight: 900;
    padding-left: 500px;
}

.body4{
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    margin: 100px 400px;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text1{
    font-weight: 900;
    font-size: 24px;
}

.body4-button{
    font-size: 16px;
    color: #e5e7ee;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    padding: 6px 24px;
}

.footer{
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}